/CMakeLists.txt.user
/build/.vs/visilibDemo/v16/.suo
/build/.vs/visilibDemo/v16/Browse.VC.db
/build/.vs/visilibDemo/v16/Browse.VC.opendb
/build/.vs/visilibDemo/v16/Solution.VC.db
/build/.vs/visilibDemo/v16/Solution.VC.db-shm
/build/.vs/visilibDemo/v16/Solution.VC.db-wal
/build/.vs/visilibDemo/v16/ipch/AutoPCH/10ed001e1ab486c8/HELPER_SYNTHETIC_MESH_BUILDER.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/179cd1ce052b350a/VISILIB.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/17ac4f2c7544a94a/DEMO_HELPER.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/18df47284fe0fb46/GEOMETRY_CONVEX_HULL.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/257e168796dce1f7/DEMO_MAIN.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/28020a474dc95f98/HELPER_SYNTHETIC_MESH_BUILDER.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/309f8c4337e97999/PLUCKER_POLYHEDRON.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/3131e1139bed559c/VISIBILITY_APERTURE_FINDER.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/3418d6f9fcbd5ce5/VISIBILITY_SILHOUETTE.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/3b831a05143d63f4/VISIBILITY_SILHOUETTE_PROCESSOR.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/3b951e48485bbd87/DEMO_MAIN.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/3bf7d23b7a0ced5a/VISILIB.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/3e75c39da8479b5d/DEMO_DEBUG_VISUALISATION_GL.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/4b2e6fe87342d268/MATH_PLUCKER_6.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/4da4054b762d563/PLUCKER_POLYTOPE_SPLITTER.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/5111fa462c5ccd2c/RTCORE_RAY.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/585840869dc45278/MATH_PLUCKER_6.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/5cae3ad40809dcec/VISIBILITY_APERTURE_FINDER.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/5fbcba2aefbeb84a/VISILIB.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/65b524ce2c79b0ff/MATH_COMBINATORIAL.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/6c53af02fb3a0c44/GEOMETRY_SCENE_DATA.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/72c9b8f50b5a4b13/PLUCKER_POLYTOPE_BUILDER.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/7c297359c141b973/MATH_VECTOR_2.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/8164d5c0c2c23a1e/GEOMETRY_MESH.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/817cfce8e4afa39c/RTCORE_GEOMETRY.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/81bfa12da04eaf47/VISIBILITY_EXACT_QUERY.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/85f04a0cebdb6293/PLUCKER_POLYTOPE_SPLITTER.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/8d5dcb61827b69f5/MATH_PREDICATES.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/8fb8a2a9d0c2d25c/HELPER_DEBUG_VISUALISATION.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/95c6d6b9067a818d/MATH_GEOMETRY.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/a2af4e56740d3065/PLUCKER_POLYTOPE.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/a4672be9de3bcdda/DEMO_HELPER.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/a9239df00f02325a/VISILIB.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/a92fff641fd5c5f6/NEW_SCALAR.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/ab5b0a07d23de2f9/GEOMETRY_SCENE.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/bc9a774374d48fb5/PLUCKER_POLYTOPE.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/c7bb82dd1f9808e7/CONVEXHULL.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/d6c2e2b5a009a82b/HELPER_STATISTIC_COLLECTOR.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/d7e73d756d669a94/GEOMETRY_SCENE_DATA.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/d84574036efe86d6/GEOMETRY_CONVEX_HULL.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/d8bf37250ae04e69/PLUCKER_POLYHEDRON.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/d9faa20cb8cc32d8/RTCORE_SCENE.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/dad4a1e6867eed0a/TEST_MATH.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/db226b167c71f66b/GEOMETRY_SCENE.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/e1183870b03e5324/VISIBILITY_SILHOUETTE_PROCESSOR.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/e3acebabc355d94f/MATH_COMBINATORIAL.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/e84b79cec8d373d5/CONVEXHULL.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/f3280ea48e974c2a/PLUCKER_POLYTOPE_COMPLEX.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/f6ea9fa15393f2c3/PLUCKER_POLYTOPE_BUILDER.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/f9b08a2704f577f3/VISIBILITY_EVENTS_FINDER.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/feb41dd923f0a3bd/MATH_GEOMETRY.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/fee8234a55c67c17/VISIBILITY_EXACT_QUERY.ipch
/build/.vs/visilibDemo/v16/ipch/AutoPCH/fff4875d539e0fe3/VISIBILITY_EVENTS_FINDER.ipch
/build/ALL_BUILD.vcxproj
/build/ALL_BUILD.vcxproj.filters
/build/ALL_BUILD.vcxproj.user
/build/CMakeCache.txt
/build/CMakeFiles/3.14.0-rc1/CMakeCCompiler.cmake
/build/CMakeFiles/3.14.0-rc1/CMakeCXXCompiler.cmake
/build/CMakeFiles/3.14.0-rc1/CMakeDetermineCompilerABI_C.bin
/build/CMakeFiles/3.14.0-rc1/CMakeDetermineCompilerABI_CXX.bin
/build/CMakeFiles/3.14.0-rc1/CMakeRCCompiler.cmake
/build/CMakeFiles/3.14.0-rc1/CMakeSystem.cmake
/build/CMakeFiles/3.14.0-rc1/CompilerIdC/CMakeCCompilerId.c
/build/CMakeFiles/3.14.0-rc1/CompilerIdC/CompilerIdC.exe
/build/CMakeFiles/3.14.0-rc1/CompilerIdC/CompilerIdC.vcxproj
/build/CMakeFiles/3.14.0-rc1/CompilerIdC/Debug/CMakeCCompilerId.obj
/build/CMakeFiles/3.14.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
/build/CMakeFiles/3.14.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
/build/CMakeFiles/3.14.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
/build/CMakeFiles/3.14.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
/build/CMakeFiles/3.14.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
/build/CMakeFiles/3.14.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
/build/CMakeFiles/3.14.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
/build/CMakeFiles/3.14.0-rc1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/build/CMakeFiles/3.14.0-rc1/CompilerIdCXX/CompilerIdCXX.exe
/build/CMakeFiles/3.14.0-rc1/CompilerIdCXX/CompilerIdCXX.vcxproj
/build/CMakeFiles/3.14.0-rc1/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
/build/CMakeFiles/3.14.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
/build/CMakeFiles/3.14.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
/build/CMakeFiles/3.14.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
/build/CMakeFiles/3.14.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
/build/CMakeFiles/3.14.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
/build/CMakeFiles/3.14.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
/build/CMakeFiles/3.14.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
/build/CMakeFiles/3.14.0-rc1/VCTargetsPath.txt
/build/CMakeFiles/3.14.0-rc1/VCTargetsPath.vcxproj
/build/CMakeFiles/3.14.0-rc1/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
/build/CMakeFiles/5b098687b9e2e98e339eebf36facad9b/Continuous.rule
/build/CMakeFiles/5b098687b9e2e98e339eebf36facad9b/Experimental.rule
/build/CMakeFiles/5b098687b9e2e98e339eebf36facad9b/Nightly.rule
/build/CMakeFiles/5b098687b9e2e98e339eebf36facad9b/NightlyMemoryCheck.rule
/build/CMakeFiles/5b098687b9e2e98e339eebf36facad9b/RUN_TESTS_force.rule
/build/CMakeFiles/5b098687b9e2e98e339eebf36facad9b/generate.stamp.rule
/build/CMakeFiles/CMakeError.log
/build/CMakeFiles/CMakeOutput.log
/build/CMakeFiles/TargetDirectories.txt
/build/CMakeFiles/cmake.check_cache
/build/CMakeFiles/db985c5df0b93261749657b29271112e/RUN_TESTS_force.rule
/build/CMakeFiles/f943455e48f6a998b8d206837d98fee7/RUN_TESTS_force.rule
/build/CMakeFiles/feature_tests.bin
/build/CMakeFiles/feature_tests.c
/build/CMakeFiles/feature_tests.cxx
/build/CMakeFiles/ff5d7bf5fd071610f7f543ae7215d672/RUN_TESTS_force.rule
/build/CMakeFiles/generate.stamp
/build/CMakeFiles/generate.stamp.depend
/build/CMakeFiles/generate.stamp.list
/build/CTestTestfile.cmake
/build/Continuous.vcxproj
/build/Continuous.vcxproj.filters
/build/DartConfiguration.tcl
/build/Experimental.vcxproj
/build/Experimental.vcxproj.filters
/build/Nightly.vcxproj
/build/Nightly.vcxproj.filters
/build/NightlyMemoryCheck.vcxproj
/build/NightlyMemoryCheck.vcxproj.filters
/build/RUN_TESTS.vcxproj
/build/RUN_TESTS.vcxproj.filters
/build/ZERO_CHECK.vcxproj
/build/ZERO_CHECK.vcxproj.filters
/build/cmake_install.cmake
/build/demo/CMakeFiles/generate.stamp
/build/demo/CMakeFiles/generate.stamp.depend
/build/demo/CTestTestfile.cmake
/build/demo/Debug/embree3.dll
/build/demo/Debug/freeglut.dll
/build/demo/Debug/glfw3.dll
/build/demo/Debug/leda_md.dll
/build/demo/Debug/leda_mdd.dll
/build/demo/Debug/leda_mt.dll
/build/demo/Debug/leda_mtd.dll
/build/demo/Debug/tbb.dll
/build/demo/Debug/tbbmalloc.dll
/build/demo/Debug/visilibDemo.exe
/build/demo/Debug/visilibDemo.ilk
/build/demo/Debug/visilibDemo.pdb
/build/demo/RUN_TESTS.vcxproj
/build/demo/RUN_TESTS.vcxproj.filters
/build/demo/Release/embree3.dll
/build/demo/Release/freeglut.dll
/build/demo/Release/glfw3.dll
/build/demo/Release/leda_md.dll
/build/demo/Release/leda_mdd.dll
/build/demo/Release/leda_mt.dll
/build/demo/Release/leda_mtd.dll
/build/demo/Release/tbb.dll
/build/demo/Release/tbbmalloc.dll
/build/demo/Release/visilibDemo.exe
/build/demo/cmake_install.cmake
/build/demo/config - Copy (2).txt
/build/demo/config - slot.txt
/build/demo/config - sphere.txt
/build/demo/config.txt
/build/demo/config_failure_001.txt
/build/demo/config_failure_003.txt
/build/demo/config_falure_002.txt
/build/demo/debug.txt
/build/demo/debug_error.txt
/build/demo/debug_ok.txt
/build/demo/visilibDemo.dir/Debug/demo_debug_visualisation_gl.obj
/build/demo/visilibDemo.dir/Debug/demo_helper.obj
/build/demo/visilibDemo.dir/Debug/demo_main.obj
/build/demo/visilibDemo.dir/Debug/vc142.pdb
/build/demo/visilibDemo.dir/Debug/visilibDemo.Build.CppClean.log
/build/demo/visilibDemo.dir/Debug/visilibDemo.log
/build/demo/visilibDemo.dir/Debug/visilibDemo.tlog/CL.command.1.tlog
/build/demo/visilibDemo.dir/Debug/visilibDemo.tlog/CL.read.1.tlog
/build/demo/visilibDemo.dir/Debug/visilibDemo.tlog/CL.write.1.tlog
/build/demo/visilibDemo.dir/Debug/visilibDemo.tlog/custombuild.command.1.tlog
/build/demo/visilibDemo.dir/Debug/visilibDemo.tlog/custombuild.read.1.tlog
/build/demo/visilibDemo.dir/Debug/visilibDemo.tlog/custombuild.write.1.tlog
/build/demo/visilibDemo.dir/Debug/visilibDemo.tlog/link.command.1.tlog
/build/demo/visilibDemo.dir/Debug/visilibDemo.tlog/link.read.1.tlog
/build/demo/visilibDemo.dir/Debug/visilibDemo.tlog/link.write.1.tlog
/build/demo/visilibDemo.dir/Debug/visilibDemo.tlog/visilibDemo.lastbuildstate
/build/demo/visilibDemo.dir/Debug/visilibDemo.vcxproj.FileListAbsolute.txt
/build/demo/visilibDemo.dir/Release/demo_debug_visualisation_gl.obj
/build/demo/visilibDemo.dir/Release/demo_helper.obj
/build/demo/visilibDemo.dir/Release/demo_main.obj
/build/demo/visilibDemo.dir/Release/visilibDemo.Build.CppClean.log
/build/demo/visilibDemo.dir/Release/visilibDemo.log
/build/demo/visilibDemo.dir/Release/visilibDemo.tlog/CL.command.1.tlog
/build/demo/visilibDemo.dir/Release/visilibDemo.tlog/CL.read.1.tlog
/build/demo/visilibDemo.dir/Release/visilibDemo.tlog/CL.write.1.tlog
/build/demo/visilibDemo.dir/Release/visilibDemo.tlog/custombuild.command.1.tlog
/build/demo/visilibDemo.dir/Release/visilibDemo.tlog/custombuild.read.1.tlog
/build/demo/visilibDemo.dir/Release/visilibDemo.tlog/custombuild.write.1.tlog
/build/demo/visilibDemo.dir/Release/visilibDemo.tlog/link.command.1.tlog
/build/demo/visilibDemo.dir/Release/visilibDemo.tlog/link.read.1.tlog
/build/demo/visilibDemo.dir/Release/visilibDemo.tlog/link.write.1.tlog
/build/demo/visilibDemo.dir/Release/visilibDemo.tlog/visilibDemo.lastbuildstate
/build/demo/visilibDemo.dir/Release/visilibDemo.vcxproj.FileListAbsolute.txt
/build/demo/visilibDemo.vcxproj
/build/demo/visilibDemo.vcxproj.filters
/build/demo/visilibDemo.vcxproj.user
/build/test/CMakeFiles/generate.stamp
/build/test/CMakeFiles/generate.stamp.depend
/build/test/CTestTestfile.cmake
/build/test/Debug/visilibTest.exe
/build/test/Debug/visilibTest.ilk
/build/test/Debug/visilibTest.pdb
/build/test/RUN_TESTS.vcxproj
/build/test/RUN_TESTS.vcxproj.filters
/build/test/Release/visilibTest.exe
/build/test/cmake_install.cmake
/build/test/visilibTest.dir/Debug/test_math.obj
/build/test/visilibTest.dir/Debug/vc142.pdb
/build/test/visilibTest.dir/Debug/visilibTest.Build.CppClean.log
/build/test/visilibTest.dir/Debug/visilibTest.log
/build/test/visilibTest.dir/Debug/visilibTest.tlog/CL.command.1.tlog
/build/test/visilibTest.dir/Debug/visilibTest.tlog/CL.read.1.tlog
/build/test/visilibTest.dir/Debug/visilibTest.tlog/CL.write.1.tlog
/build/test/visilibTest.dir/Debug/visilibTest.tlog/custombuild.command.1.tlog
/build/test/visilibTest.dir/Debug/visilibTest.tlog/custombuild.read.1.tlog
/build/test/visilibTest.dir/Debug/visilibTest.tlog/custombuild.write.1.tlog
/build/test/visilibTest.dir/Debug/visilibTest.tlog/link.command.1.tlog
/build/test/visilibTest.dir/Debug/visilibTest.tlog/link.read.1.tlog
/build/test/visilibTest.dir/Debug/visilibTest.tlog/link.write.1.tlog
/build/test/visilibTest.dir/Debug/visilibTest.tlog/visilibTest.lastbuildstate
/build/test/visilibTest.dir/Debug/visilibTest.vcxproj.FileListAbsolute.txt
/build/test/visilibTest.dir/Release/test_math.obj
/build/test/visilibTest.dir/Release/visilibTest.Build.CppClean.log
/build/test/visilibTest.dir/Release/visilibTest.log
/build/test/visilibTest.dir/Release/visilibTest.tlog/CL.command.1.tlog
/build/test/visilibTest.dir/Release/visilibTest.tlog/CL.read.1.tlog
/build/test/visilibTest.dir/Release/visilibTest.tlog/CL.write.1.tlog
/build/test/visilibTest.dir/Release/visilibTest.tlog/custombuild.command.1.tlog
/build/test/visilibTest.dir/Release/visilibTest.tlog/custombuild.read.1.tlog
/build/test/visilibTest.dir/Release/visilibTest.tlog/custombuild.write.1.tlog
/build/test/visilibTest.dir/Release/visilibTest.tlog/link.command.1.tlog
/build/test/visilibTest.dir/Release/visilibTest.tlog/link.read.1.tlog
/build/test/visilibTest.dir/Release/visilibTest.tlog/link.write.1.tlog
/build/test/visilibTest.dir/Release/visilibTest.tlog/visilibTest.lastbuildstate
/build/test/visilibTest.dir/Release/visilibTest.vcxproj.FileListAbsolute.txt
/build/test/visilibTest.vcxproj
/build/test/visilibTest.vcxproj.filters
/build/test/visilibTest.vcxproj.user
/build/test/visilibTestCxxTests.cpp
/build/visilib/.gitignore
/build/visilib/CMakeFiles/generate.stamp
/build/visilib/CMakeFiles/generate.stamp.depend
/build/visilib/CTestTestfile.cmake
/build/visilib/cmake_install.cmake
/build/visilib/main.cpp
/build/visilib/visilib.dir/Debug/visilib.Build.CppClean.log
/build/visilib/visilib.dir/Debug/visilib.log
/build/visilib/visilib.dir/Debug/visilib.tlog/custombuild.command.1.tlog
/build/visilib/visilib.dir/Debug/visilib.tlog/custombuild.read.1.tlog
/build/visilib/visilib.dir/Debug/visilib.tlog/custombuild.write.1.tlog
/build/visilib/visilib.dir/Debug/visilib.tlog/visilib.lastbuildstate
/build/visilib/visilib.dir/Release/visilib.Build.CppClean.log
/build/visilib/visilib.dir/Release/visilib.log
/build/visilib/visilib.dir/Release/visilib.tlog/custombuild.command.1.tlog
/build/visilib/visilib.dir/Release/visilib.tlog/custombuild.read.1.tlog
/build/visilib/visilib.dir/Release/visilib.tlog/custombuild.write.1.tlog
/build/visilib/visilib.dir/Release/visilib.tlog/visilib.lastbuildstate
/build/visilibDemo.sln
/build/x64/Debug/ZERO_CHECK/ZERO_CHECK.Build.CppClean.log
/build/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
/build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
/build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
/build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
/build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
/build/x64/Debug/ZERO_CHECK/ZERO_CHECK.vcxproj.FileListAbsolute.txt
/build/x64/Release/ZERO_CHECK/ZERO_CHECK.Build.CppClean.log
/build/x64/Release/ZERO_CHECK/ZERO_CHECK.log
/build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
/build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
/build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
/build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
/build/x64/Release/ZERO_CHECK/ZERO_CHECK.vcxproj.FileListAbsolute.txt
/doc/html/functions_b.html
/doc/html/functions_c.html
/doc/html/functions_d.html
/doc/html/functions_e.html
/doc/html/functions_f.html
/doc/html/functions_g.html
/doc/html/functions_h.html
/doc/html/functions_i.html
/doc/html/functions_l.html
/doc/html/functions_m.html
/doc/html/functions_n.html
/doc/html/functions_o.html
/doc/html/functions_p.html
/doc/html/functions_r.html
/doc/html/functions_s.html
/doc/html/functions_t.html
/doc/html/functions_u.html
/doc/html/functions_v.html
/doc/html/functions_z.html
/doc/html/search/all_12.html
/doc/html/search/all_12.js
/doc/html/search/all_13.html
/doc/html/search/all_13.js
/doc/html/search/all_14.html
/doc/html/search/all_14.js
/doc/html/search/functions_10.html
/doc/html/search/functions_10.js
/doc/html/search/functions_11.html
/doc/html/search/functions_11.js
/doc/html/search/functions_e.html
/doc/html/search/functions_e.js
/doc/html/search/functions_f.html
/doc/html/search/functions_f.js
/doc/html/search/variables_9.html
/doc/html/search/variables_9.js
/doc/html/search/variables_a.html
/doc/html/search/variables_a.js
/doc/html/search/variables_b.html
/doc/html/search/variables_b.js
/doc/latex/Makefile
/doc/latex/annotated.tex
/doc/latex/class_visilib_demo_main.tex
/doc/latex/classvisilib_1_1_geometry_a_a_b_b.tex
/doc/latex/classvisilib_1_1_geometry_convex_hull.tex
/doc/latex/classvisilib_1_1_geometry_convex_hull_builder.tex
/doc/latex/classvisilib_1_1_geometry_convex_polygon.tex
/doc/latex/classvisilib_1_1_geometry_embree_scene.eps
/doc/latex/classvisilib_1_1_geometry_embree_scene.tex
/doc/latex/classvisilib_1_1_geometry_mesh.tex
/doc/latex/classvisilib_1_1_geometry_mesh_face.tex
/doc/latex/classvisilib_1_1_geometry_ray.tex
/doc/latex/classvisilib_1_1_geometry_scene.eps
/doc/latex/classvisilib_1_1_geometry_scene.tex
/doc/latex/classvisilib_1_1_geometry_scene_data.tex
/doc/latex/classvisilib_1_1_helper_debug_visualisation.tex
/doc/latex/classvisilib_1_1_helper_geometry_scene_reader.tex
/doc/latex/classvisilib_1_1_helper_scoped_timer.tex
/doc/latex/classvisilib_1_1_helper_statistic_collector.tex
/doc/latex/classvisilib_1_1_helper_synthetic_mesh_builder.tex
/doc/latex/classvisilib_1_1_i_visibility_exact_query.eps
/doc/latex/classvisilib_1_1_i_visibility_exact_query.tex
/doc/latex/classvisilib_1_1_math_arithmetic.tex
/doc/latex/classvisilib_1_1_math_combinatorial.tex
/doc/latex/classvisilib_1_1_math_geometry.tex
/doc/latex/classvisilib_1_1_math_matrix__.tex
/doc/latex/classvisilib_1_1_math_plane3__.tex
/doc/latex/classvisilib_1_1_math_plucker2.tex
/doc/latex/classvisilib_1_1_math_plucker6.tex
/doc/latex/classvisilib_1_1_math_predicates.tex
/doc/latex/classvisilib_1_1_math_vector2__.tex
/doc/latex/classvisilib_1_1_math_vector3__.tex
/doc/latex/classvisilib_1_1_plucker_polyhedron.tex
/doc/latex/classvisilib_1_1_plucker_polytope.tex
/doc/latex/classvisilib_1_1_plucker_polytope_builder.tex
/doc/latex/classvisilib_1_1_plucker_polytope_complex.tex
/doc/latex/classvisilib_1_1_plucker_polytope_splitter.tex
/doc/latex/classvisilib_1_1_plucker_tree_node.tex
/doc/latex/classvisilib_1_1_scene.eps
/doc/latex/classvisilib_1_1_scene.tex
/doc/latex/classvisilib_1_1_visibility_aperture_finder.eps
/doc/latex/classvisilib_1_1_visibility_aperture_finder.tex
/doc/latex/classvisilib_1_1_visibility_exact_query.eps
/doc/latex/classvisilib_1_1_visibility_exact_query.tex
/doc/latex/classvisilib_1_1_visibility_silhouette.tex
/doc/latex/classvisilib_1_1_visibility_silhouette_processor.tex
/doc/latex/classvisilib_1_1_visibility_solver.eps
/doc/latex/classvisilib_1_1_visibility_solver.tex
/doc/latex/classvisilib_1_1_visual_debugger.tex
/doc/latex/classvisilib_demo_1_1_demo_debug_visualisation_gl.tex
/doc/latex/classvisilib_demo_1_1_demo_helper.tex
/doc/latex/classvisilib_demo_1_1_visilib_demo_main.tex
/doc/latex/doxygen.sty
/doc/latex/hierarchy.tex
/doc/latex/index.tex
/doc/latex/make.bat
/doc/latex/refman.tex
/doc/latex/struct___g_p_u___d_e_v_i_c_e.tex
/doc/latex/struct_g_l_x_buffer_clobber_event_s_g_i_x.tex
/doc/latex/struct_g_l_x_hyperpipe_config_s_g_i_x.tex
/doc/latex/struct_g_l_x_hyperpipe_network_s_g_i_x.tex
/doc/latex/struct_g_l_x_pipe_rect.tex
/doc/latex/struct_g_l_x_pipe_rect_limits.tex
/doc/latex/structvisilib_1_1_math_vector2___1_1_hash.tex
/doc/latex/structvisilib_1_1_query_configuration.tex
/doc/latex/structvisilib_1_1_ray.tex
/doc/latex/structvisilib_1_1_triangle_mesh_information.tex
/doc/latex/structvisilib_1_1_visibility_silhouette_1_1_hash.tex
/installationInfo.txt
